# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# --- 依赖和缓存目录 (必须忽略) ---
node_modules/
.npm_cache/

# --- 其他常见忽略项 ---
dist/
.DS_Store
*.log